# Node modules
node_modules/

# macOS
.DS_Store

# Playwright reports and test output
playwright-report/
test-results/

# IDE files
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional coverage output
coverage/
